
@{
    ViewBag.Title = "PaginaNova";
}

<h2>Uma Pagina Nova</h2>

<b>Informações:</b>
<br />
<br />
Codigo: @ViewBag.Codigo
<br />
Nome: @ViewBag.Nome
<br />
Endereço: @ViewData["Endereco"]
<br />
Estado: @ViewData["Estado"]
<br />

